@model ProjectDatabase.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-2xl font-bold text-center">Order Details</h1>

<div class="my-4">
    <div class="border border-gray-300 p-4 rounded">
        <div class="my-4">
            <dl class="grid grid-cols-2 gap-4">
                <div>
                    <dt class="font-bold">Customer Name:</dt>
                    <dd>@(Model.Customer?.name ?? "N/A")</dd>
                </div>
                <div>
                    <dt class="font-bold">Note: </dt>
                    <dd>@(Model.note ?? "N/A")</dd>
                </div>
                <div>
                    <dt class="font-bold">Total Price: </dt>
                    <dd>@(Model.total_price) đ</dd>
                </div>
                <div>
                    <dt class="font-bold">List Orderlines: </dt>
                    @if (Model.Orderlines != null && Model.Orderlines.Any())
                    {
                        <ul class="list-disc list-inside">
                            @foreach (var item in Model.Orderlines.OrderBy(x => x.id))
                            {
                                <li>@item.Product?.name - Quantity: @item.quantity - Price: @item.Product?.price đ</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <dd>No Orderlines</dd>
                    }
                </div>
                <div>
                    <dt class="font-bold">Discount Membership: </dt>
                    <dd>@(Model.discount_membership) đ</dd>
                </div>
                <div>
                    <dt class="font-bold">Final Price: </dt>
                    <dd>@(Model.final_price) đ</dd>
                </div>

                <div>
                    <dt class="font-bold">Time: </dt>
                    <dd>@(Model.update_at ?? Model.create_at)</dd>
                </div>
                <div>
                    <dt class="font-bold">Created By: </dt>
                    <dd>@(Model.User?.name ?? "N/A")</dd>
                </div>
                <div>
                    <dt class="font-bold">Status: </dt>
                    <dd>@(Model.status_id ? "Completed" : "Pending")</dd>
                </div>
                <div>
                    <dt class="font-bold">Store: </dt>
                    <dd>@(Model.Store?.name ?? "N/A")</dd>
                </div>
                <div>
                    <dt class="font-bold">Order Type: </dt>
                    <dd>@(Model.Order_type?.name ?? "N/A")</dd>
                </div>
            </dl>
        </div>
        <div class="my-4">
            <a href="@Url.Action("Edit", new { id = Model?.id })" class="px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600">Edit</a>
            <a href="@Url.Action("Index")" class="px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600">Back to List</a>
        </div>
    </div>
</div>
