@model User
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "container mx-auto py-8 md:w-2/3 sm:w-4/5 w-5/6 bg-white text-black" }))
{
    <h2 class="text-2xl font-bold mb-4 text-center">Create Account</h2>

    <div class="mb-4">
        <div class="flex items-center">
            <label for="username" class="block mr-2">UserName:</label>
            @Html.TextBoxFor(m => m.username, new { @class = "w-full border border-gray-300 rounded-md py-2 px-3", @placeholder = "Enter the user name" })
            @Html.ValidationMessageFor(m => m.username, "", new { @class = "text-red-500" })
        </div>
    </div>

    <div class="mb-4">
        <div class="flex items-center">
            <label for="password" class="block mr-2">Password:</label>
            @Html.PasswordFor(m => m.password, new { @class = "w-full border border-gray-300 rounded-md py-2 px-3", @placeholder = "Enter the password" })
            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-red-500" })
        </div>
    </div>

    <div class="mb-4">
        <div class="flex items-center">
            <label for="userCode" class="block mr-2">UserCode: </label>
            @Html.TextBoxFor(m => m.id, new { @class = "w-full border border-gray-300 rounded-md py-2 px-3", @placeholder = "Enter the code" })
            @Html.ValidationMessageFor(m => m.id, "", new { @class = "text-red-500" })
        </div>
    </div>

    <div class="mb-4">
        <div class="flex items-center">
            <label for="name" class="block mr-2">Name:</label>
            @Html.TextBoxFor(m => m.name, new { @class = "w-full border border-gray-300 rounded-md py-2 px-3", @placeholder = "Enter the name" })
            @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-red-500" })
        </div>
    </div>

    <div class="mb-4">
        <div class="flex items-center">
            <label for="phone" class="block mr-2">Phone:</label>
            @Html.TextBoxFor(m => m.phone, new { @class = "w-full border border-gray-300 rounded-md py-2 px-3", @placeholder = "Enter the phone" })
            @Html.ValidationMessageFor(m => m.phone, "", new { @class = "text-red-500" })
        </div>
    </div>

    <div class="mb-4">
        <div class="flex items-center">
            <label for="role" class="block mr-2">Role:</label>
            @{
                var roles = new List<SelectListItem>
        {
        new SelectListItem { Text = "Admin", Value = "AD" },
        new SelectListItem { Text = "Employee", Value = "EP" }
        };
            }
            @Html.DropDownListFor(m => m.role_id, roles, "-- Select Role --", new { @class = "w-full border border-gray-300 rounded-md py-2 px-3", id = "roleDropdown" })
            @Html.ValidationMessageFor(m => m.role_id, "", new { @class = "text-red-500" })
        </div>
    </div>

    <div id="storeDropdownContainer" class="mb-4" style="display: none;">
        <div class="flex items-center">
            <label for="store" class="block mr-2">Store:</label>
            @Html.DropDownListFor(m => m.store_id, ViewBag.Stores as SelectList, "-- Select Store --", new { @class = "w-full border border-gray-300 rounded-md py-2 px-3", id = "storeDropdown" })
            @Html.ValidationMessageFor(m => m.store_id, "", new { @class = "text-red-500" })
        </div>
    </div>
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded w-full mt-6">
        Create
    </button>

}
